@media (max-width: 600px) {
  [data-node=homeWrap] {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 601px) {
  [data-node=homeWrap] {
    width: 600px;
    margin: 0 auto;
  }
  [data-node=homeWrap] .line-around {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
  }
  .card-list {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
  }
}
@media (min-width: 801px) {
  .contWrap {
    padding-top: 54px;
  }
  .home-sub-nav {
    display: block;
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 44px;
  }
  .home-sub-nav .item {
    flex: initial;
  }
  .home-sub-nav .item.isActive {
    color: #fff;
    background: #ff8200;
  }
  .home-sub-nav .item.isActive::before {
    display: none;
  }
}
@media (min-width: 1001px) {
  .contWrap {
    padding: 54px 10px 0 54px;
    width: 100%;
    box-sizing: border-box;
  }
  [data-node=homeWrap] {
    width: auto;
    column-count: 2;
  }
  [data-node=homeWrap] .card {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
  .mod-pagination {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 44px;
    z-index: 10;
    display: block;
    border-radius: 0;
    border: 0;
  }
  .mod-pagination .select-txt {
    display: none;
  }
  .mod-pagination .plus {
    justify-content: center;
  }
  .mod-pagination.line-around {
    border: 0;
    border-radius: 0;
  }
}
@media (min-width: 1201px) {
  [data-node=homeWrap] {
    column-count: 3;
  }
}
