@media(min-width: 601px)
  .card-list
    border 1px solid #e6e6e6
    border-radius 5px
    overflow hidden
  [data-node=homeWrap]
    width 600px
    margin 0 auto
    .line-around
      border-radius 5px
      border 1px solid #e6e6e6
    .card-list
      border 0
      border-radius 0